.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.traffic-light {
    padding: 10px;
    display: inline-block;
    margin: auto;
}

.light {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.glow {
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.593);
}
